*~
*.json
*.pyc
*.log
*.csv
*.ipynb
*.dot
dependencies/
pylot/prediction/prediction/

# Generated documentation files
/doc/build
.idea/
venv/
erdos_pylot.egg-info/

# Generated timing analysis results
timing_results/
